<form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="getLoginData()">
    <mat-form-field class="form-item">
        <mat-label i18n>Enter Email Address</mat-label>
        <input matInput i18n-placeholder placeholder="xyz@gmail.com" formControlName="useremail">
        <div *ngIf="loginForm.get('useremail')?.invalid && loginForm.get('useremail')?.touched">
            <mat-error i18n *ngIf="loginForm.get('useremail')?.invalid">Plese enter email</mat-error>
            <mat-error i18n *ngIf="loginForm.get('useremail')?.errors.invalidemail">Plese enter valid email</mat-error>
        </div>
    </mat-form-field>
   
    <mat-form-field class="form-item">
        <mat-label i18n >Enter Passworf</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        <mat-error i18n *ngIf="loginForm.get('password')?.invalid">Plese enter valid password</mat-error>
        <mat-error i18n *ngIf="loginForm.get('password')?.invalid">Plese enter March password</mat-error>
    </mat-form-field>
    <button i18n class="form-item" mat-raised-button color="primary" type="submit">Login</button>
</form>
